<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="4.1.50731" />
  <package id="App_BrowsersUpdate" version="1.0" targetFramework="net40" />
  <package id="DocX" version="1.0.0.19" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.2" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" />
  <package id="SecureSubmit" version="2.14.1" targetFramework="net452" />
</packages>